{% extends "base.html" %}
{% block title %}Gestão de Estagios{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/principais.css">
{% endblock %}
{% block titulo %}Estagios{% endblock %}
{% block content %}
<div class="container">
   {% if estagios|length == 0 %}
      <p>Não há Estagios</p>
      <div class="botao_sem_tabela">
         <a href="Novo_Estagio" class="button"><ion-icon name="person-add-outline" id="icons"></ion-icon><span>Novo Estagio</span></a>
      </div>
   {% else %}
   <div class="botao_com_tabela">
      <a href="Novo_Estagio" class="button"><ion-icon name="person-add-outline" id="icons"></ion-icon><span>Novo Estagio</span></a>
   </div>
   <div class="combo-box" style="width: 300px !important;">
      <label>Turma:</label>
      <select name="turmas" id="combobox">
         {% for listaturmas in turmas %}
         <option value="{{listaturmas.descricao}}"> {{listaturmas.descricao.split(':')[1].strip()}} </option>
         {% endfor %}
      </select>
   </div>
   <p id= "frase">Não ha estagios nesta turma</p>
   <div class="conteudo">
      <table id="tabela-estagios">
         <thead>
            <tr>
               <th scope="col">Aluno</th>
               <th scope="col">Entidade</th>
               <th scope="col">Data inicio</th>
               <th scope="col">Data fim</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
      {% endif %}
   </div>
</div>
{% endblock %}
{% block js %}
<script src="../../static/js/estagios/Estagios.js"></script>
{% endblock %}