{% extends "base.html" %}
{% block title %}Gestão de Estagios{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/forms.css">
{% endblock %}
{% block titulo %}Novo Estagio{% endblock %}
{% block content %}
<div class="container">
   <section>
      <div class="form-box">
         <form id="forms" method="POST">
            <div class="inputbox" id="combo-box">
               <select name="turma" class="input" id="combo_box_turma">
                  {% if turmas|length == 0 %}
                  <option>Não há turmas</option>
                  {% else %}
                  <option value="" disabled>Turmas</option>
                  {% for listaturmas in turmas %}
                  <option value="{{listaturmas.descricao}}"> {{listaturmas.descricao}} </option>
                  {% endfor %}
                  {% endif %}
               </select>
               <div class="cut" id="cut_turmas"></div>
               <label for="" class="placeholder">Turma:</label>
            </div>

            <div class="inputbox" id="combo-box">
               <select name="alunos" class="input" id="combo_box_alunos">
                  {% if turmas|length == 0 %}
                     <option>Não há Alunos</option>
                  {% endif %}
               </select>
               <div class="cut" id="cut_aluno"></div>
               <label for="" class="placeholder">Aluno:</label>
            </div>

            <div class="inputbox" id="combo-box">
               <select name="entidades" class="input" id="combo_box_entidade">
                  {% if entidade|length == 0 %}
                  <option value="nada">Não há Entidades</option>
                  {% else %}
                  <option value="" disabled>Entidades</option>
                  {% for listaentidade in entidade %}
                  <option value="{{listaentidade.nome}}"> {{listaentidade.nome}} </option>
                  {% endfor %}
                  {% endif %}
               </select>
               <div class="cut" id="cut_entidade"></div>
               <label for="" class="placeholder">Entidade:</label>
            </div><br>

            <div class="inputbox" id="datas">
               <input name="data_inicio" class="input" max="9999-12-31" id="data_inicio" type="date" placeholder=" " required>
               <div class="cut" id="cut_data_inicio"></div>
               <label for="" class="placeholder">Data inicio:</label>
            </div>
            <div class="inputbox" id="datas">
               <input name="data_fim" class="input" max="9999-12-31" id="data_fim" type="date" placeholder=" " required>
               <div class="cut" id="cut_data_fim"></div>
               <label for="" class="placeholder">Data fim:</label>
            </div><br>
            <div class="inputbox">
               <input name=morada class="input" type="text" id="morada" placeholder=" " required>
               <div class="cut" id="cut_morada"></div>
               <label for="" class="placeholder">Morada:</label>
            </div>
            <div class="inputbox" id="InputCodigoPostal">
               <input name=cod_postal class="input" type="text" maxlength="8" id="cod_postal" placeholder=" " required
                  title="Por favor, digite o codigo postal corretamente.">
               <div class="cut" id="cut_codigo_postal"></div>
               <label for="" class="placeholder">Codigo postal:</label>
            </div>
            <div class="inputbox" class="input" id="InputLocalidade">
               <input name=localidade class="input" type="text" id="localidade" placeholder=" " required>
               <div class="cut" id="cut_localidade"></div>
               <label for="" class="placeholder">Localidade:</label>
            </div>
            <div class="inputbox">
               <input name=Tutor class="input" type="text" placeholder=" " required>
               <div class="cut" id="cut_Tutor"></div>
               <label for="" class="placeholder">Tutor:</label>
            </div>
            <div class="inputbox">
               <input name=EmailTutor class="input" type="text" placeholder=" " required>
               <div class="cut" id="cut_EmailTutor"></div>
               <label for="" class="placeholder">Email Tutor:</label>
            </div>
            <div class="inputbox">
               <input name=Orintador class="input" type="text" placeholder=" " required>
               <div class="cut" id="cut_Orientador"></div>
               <label for="" class="placeholder">Orientador:</label>
            </div>
            <div class="botoes">
               <div class="botao">
                  <a href="{{ url_for('Blueprint_estagio.tabela_estagios') }}" class="button_cancelar"><span>Cancelar</span></a>
               </div>
               <div class="botao">
                  <button class="button" type="submit" value="submit"><span>Gravar</span></button>
               </div>
            </div>
         </form>
      </div>
   </section>
</div>
{% endblock %}

{% block js %}
<script src="../../static/js/estagios/Novo_estagio.js"></script>
{% endblock %}