{% extends "base.html" %}
{% block title %}Gestão de Estagios{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/forms.css">
{% endblock %}
{% block titulo %}Nova Turmas{% endblock %}
{% block content %}
<div class="conteiner">
   <section>
      <div class="form-box">
            <form id="forms" method="POST">
               <div class="inputbox">
                  <input name="turma" class="input" type="number" maxlength="20" placeholder=" " required>
                  <div class="cut" id="cut_turmas"></div>
                  <label for="" class="placeholder">Turma:</label>
               </div>
               <div class="botoes">
                  <div class="botao">
                     <button class="button" type="submit" value="submit">Gravar</button>
                  </div>
                  <div class="botao">
                     <a href="{{ url_for('Blueprint_turma.tabela_turmas') }}" class="button">Cancelar</a>
                  </div>
               </div>
            </form>
         </div>
      </section>
</div>
{% endblock %}

{% block js %}
<script src="../../static/js/turmas/Nova_turma.js"></script>
{% endblock %}