{% extends "base.html" %} {% block title %}Gestão de Estagios{% endblock %} {%
block css %}
<link rel="stylesheet" href="../static/css/forms.css" />
{% endblock %} {% block titulo %}Novo Aluno{% endblock %} {% block content %}
<div class="conteiner">
   <section>
      <div class="form-box">
         <form id="forms" action="{{ url_for('Blueprint_aluno.novo_aluno') }}" method="POST">
            <div class="inputbox">
               <select name="turmas" class="input">
                  {% if turmas|length == 0 %}
                  <option>Não há turmas</option>
                  {% else %}
                  <option value="" disabled>Turma</option>
                  {% for listaturmas in turmas %}
                  <option value="{{listaturmas.descricao}}">
                     {{listaturmas.descricao}}
                  </option>
                  {% endfor %} {% endif %}
               </select>
               <div class="cut" id="cut_turmas"></div>
               <label for="" class="placeholder">Turma:</label>
            </div>
            
            <div class="inputbox">
               <!-- //TODO: ver o porque destes nomes n terem aspas -->
               <input name="numero" type="number" class="input" max="999999" placeholder=" " required
                  oninvalid="this.setCustomValidity('Por favor, digite um número de até 6 dígitos.')"
                  oninput="limitarInput3(this)" />
               <div class="cut" id="cut_numero"></div>
               <label for="" class="placeholder">Numero:</label>
            </div>
            <div class="inputbox">
               <input name="Nome" type="text" class="input" placeholder=" " maxlength="100" required />
               <div class="cut" id="cut_nome"></div>
               <label for="" class="placeholder">Nome:</label>
            </div>
            <div class="inputbox">
               <input name="morada" class="input" type="text" placeholder=" " required />
               <div class="cut" id="cut_morada"></div>
               <label for="" class="placeholder">Morada:</label>
            </div>

            <div class="inputbox" id="InputCodigoPostal">
               <input name="codigo_postal" class="input" type="text" pattern="\d{4}-?\d{3}" maxlength="8" placeholder=" " required title="Por favor, digite o codigo postal corretamente." oninput="formatar(this)" />
               <div class="cut" id="cut_codigo_postal"></div>
               <label for="" class="placeholder">Codigo postal:</label>
            </div>

            <div class="inputbox" id="InputLocalidade">
               <input name="localidade" class="input" type="text" placeholder=" " required />
               <div class="cut" id="cut_localidade"></div>
               <label for="" class="placeholder">Localidade:</label>
            </div>
            <div class="inputbox">
               <input name="cartao_cidadao" class="input" min="00000000" type="number" placeholder=" " required oninvalid="this.setCustomValidity('Por favor, digite um número de até 8 dígitos.')" oninput="limitarInput(this)" />
               <div class="cut" id="cut_cartao_cidadao"></div>
               <label for="" class="placeholder">Cartao cidadao:</label>
            </div>
            <div class="inputbox">
               <input name="validade_cc" class="input" min="{{today}}" max="9999-12-31" placeholder=" " type="date" />
               <div class="cut" id="cut_validade_cc"></div>
               <label for="" class="placeholder">Validade CC:</label>
            </div>
            <div class="inputbox">
               <input name="nif" class="input" min="1" max="999999999" type="number" placeholder=" " required
                  oninvalid="this.setCustomValidity('Por favor, digite um número de até 9 dígitos.')"
                  oninput="limitarInput2(this)" />
               <div class="cut" id="cut_nif"></div>
               <label for="" class="placeholder">NIF:</label>
            </div>
            <div class="botoes">
               <div class="botao">
                  <a href="{{ url_for('Blueprint_aluno.tabela_alunos') }}" class="button_cancelar"><span>Cancelar</span></a>
               </div>
               <div class="botao">
                  <button class="button" type="submit" value="submit"><span>Gravar</span></button>
               </div>
            </div>
         </form>
      </div>
   </section>
</div>
{% endblock %} {% block js %}
<script src="../../static/js/codigopostal.js"></script>
<script src="../../static/js/limites.js"></script>
<script src="../../static/js/alunos/Novo_aluno.js"></script>
{% endblock %}