section {
   display: flex;
   justify-content: center;
}

.form-box {
   z-index: 1;
   position: relative;
   width: 700px;
   justify-content: space-between;
   display: flex;
   justify-content: center;
   align-items: center;
}

#forms {
   background-color: #15172b;
   border-radius: 20px;
   box-sizing: border-box;
   height: 100%;
   padding: 20px;
   width: 100%;
}

#InputCodigoPostal {
   margin-right: 10px;
   width: 38%;
   display: inline-block;
}

#InputLocalidade {
   width: 58%;
   display: inline-block;
}

.custom-toastify {
   position: absolute;
   z-index: 9;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(to right, #ff5f6d, #ffc371);
   color: #fff;
   padding: 15px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   font-family: Arial, sans-serif;
   margin-top: 150px;
}

.inputbox {
   height: 50px;
   position: relative;
   width: 100%;
   margin-top: 40px;
}

.input {
   background-color: #303245;
   border-radius: 12px;
   border: 0;
   box-sizing: border-box;
   color: #eee;
   font-size: 18px;
   height: 100%;
   outline: 0;
   padding: 4px 20px 0;
   width: 100%;
}

.cut {
   background-color: #15172b;
   border-radius: 10px;
   height: 20px;
   left: 20px;
   position: absolute;
   top: -20px;
   transform: translateY(0);
   transition: transform 200ms;
   width: 76px;
}

#cut_turmas, #cut_aluno {
   width: 56px;
}
#cut_numero, #cut_morada {
   width: 62px;
}
#cut_nome, #cut_Tutor {
   width: 52px;
}
#cut_codigo_postal {
   width: 95px;
}
#cut_localidade, #cut_data_inicio {
   width: 78px;
}
#cut_cartao_cidadao {
   width: 105px;
}
#cut_validade_cc {
   width: 90px;
}
#cut_nif {
   width: 42px;
}
#cut_pessoa_responsavel {
   width: 130px;
}
#cut_cargo_pessoa_responsavel {
   width: 165px;
}
#cut_entidade {
   width: 70px;
}
#cut_data_fim {
   width: 68px;
}
#cut_EmailTutor {
   width: 82px;
}
#cut_Orientador {
   width: 82px;
}


.input:focus ~ .cut,
   .input:not(:placeholder-shown) ~ .cut {
   transform: translateY(8px);
}

.placeholder {
   color: #65657b;
   font-family: sans-serif;
   left: 20px;
   line-height: 14px;
   pointer-events: none;
   position: absolute;
   transform-origin: 0 50%;
   transition: transform 200ms, color 200ms;
   top: 20px;
}

.input:focus ~ .placeholder,
   .input:not(:placeholder-shown) ~ .placeholder {
   transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
   color: #808097;
}

.input:focus ~ .placeholder {
   color: #dc2f55;
}

input[type=number] {
   -webkit-appearance: none; /* Remove as setas no Safari e Chrome */
   -moz-appearance: textfield; /* Remove as setas no Firefox */
   appearance: textfield; /* Remove as setas no Edge e IE */
}
input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none; /* Remove as setas no Safari e Chrome */
}
input[type=number]::-moz-number-spin-box {
   -moz-appearance: none; /* Remove as setas no Firefox */
}

#combo-box {
   display: inline-block;
   width: 32.80%;
}

.botoes {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.button {
   display: inline-block;
   padding: .6rem .9rem;
   background: #0ef;
   border-radius: 4rem;
   box-shadow: 0 0 .5rem #0ef;
   font-size: 1rem;
   color: #323946;
   letter-spacing: .1rem;
   font-weight: 600;
   transition: .5s ease;
   text-decoration: none;
   border: none;
}

.button:first-child {
   margin-right: 20px;
}

.button:hover{
   box-shadow: none;
}



@media (max-width: 768px) {
   .form-box {
      flex-direction: column;
      width: 100%;
   }

   #mensagem {
      flex-direction: column;
      width: 90%;
   }

   .inputbox {
      width: 100%;
   }

   #combo-box {
      width: 100%;
      margin-bottom: 10px;
   }

   #InputCodigoPostal {
      margin-right: 0;
      margin-bottom: 10px ;
      width: 100% ;
   }

   #InputLocalidade {
      width: 100% ;
   }

   #datas {
      margin-right: 0;
      width: 100%;
   }
}




